.mybutton{
    background-color: #BC986A;
    border-radius: 4px;
    padding-inline: 8px;
    padding-block:4px;
    border-width: 0px;
    transition: 500ms;
    opacity: 1;
}

.mybutton:hover{
    background-color: #DAAD86;
    opacity: 1;
    transition: 500ms;
}

.mybutton:active{
    opacity: 0.5;
    transform: 200ms;
}
