@page "/"

<PageTitle>Home</PageTitle>
<img 
    src="https://images.pexels.com/photos/4041428/pexels-photo-4041428.jpeg" 
    alt="" 
    width="100%" 
    height="633"
    style="overflow: hidden; object-fit:cover; position:absolute">

<div style="position:relative">
<p>WELCOME TO</p>
<p class="h1">The Floraria</p>
<p>Florist Shop & Park</p>
<button>Learn more</button>
</div>